<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get a Handle on Canine Epilepsy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <h4>MY CANINE COMPANION</h4>
        <ul>
            <li>About Us</li>
            <li>Epi-Dog-Log</li>
            <li>Sign Up</li>
            <li>Login</li>
        </ul>
    </nav>
        <div class="headerFrame">
             <header>
                 <section class="headerSectionMainPage">
                     <h1>Get a Handle on Canine Epilepsy</h1>
                     <p>Research shows that text messages have an open rate of nearly 99%; never miss a dose again!</p>
                 </section>
             </header>
        </div>
        <div class="infoFrame">
            <section class="epilepsyInfo">
                <h1>Understanding Canine Epilepsy<br><span class="healthSpan">Canine Health</span></h1>
                <p class="epilepsyParagraphInfo">Did you know that canine epilepsy is the most common neurological disorder found in dogs? There are multiple causes to canine epilepsy, stemming from structural problems in the brain to genetic inheritance. According to the Canine Health Foundation, epilepsy has been estimated to affect approximately 0.75% of the canine population. There are two basic types of seizures, generalized and focal, and while it may be scary, seizures can still be managed. A diagnosis does not always mean that your dog will lose their quality of life, and it is important to determine a course of action with your veterinarian.</p>

                <p class="epilepsyParagraphInfo">It's important to remember you are not alone. Us humans have very busy schedules compared to our canine companions. If you live with an "Epi-Dog" then you are already aware of how life changing it can be, not only for your dog, but you as well. Us humans are prone to making mistakes, so we must stay diligent when it comes to our pets medication(s). It is crucial to set alarms and discuss your dog's medication schedule with the entire family.</p>

                <p class="epilepsyParagraphInfo">With that being said, it can be chaotic. It is easy to lose track of time, and if you accidentally turn the alarm off in the midst of your busy life, it is important to have an additional reminder so your pet does not miss their medication. Research shows that text messages have an open rate of nearly 99%. We offer a free text message based service to ensure that you never miss a dose.</p>

                <p class="epilepsyParagraphInfo">Click the button below to sign up and gain immediate access to our text message reminder service, as well as access to your own "Epi-Dog-Log", where you can track your dog's seizures and log their activity.</p>

                <div class="signUpBtnDiv"><button class="signUpBtn">Sign Up</button><div>
            </section>
        </div>
        <section class="calmContainer">
            <section>
                <section class="photoContainer1">
                    <img src="photos/seizure.jpeg">
                </section>
                <section class="greenFAQ">
                    <p>Have questions? Fill out our contact form below.</p>
                </section>
            </section>
        </section>
        <footer>
            <section>
                <h3>&copy;MY CANINE COMPANION</h3>
                <p>EST. 2022 in Orchard Park, NY</p>
                <p>All rights reserved.</p>
            </section>
            <section>
                <ul>
                    <li>About Us</li>
                    <li>Epi-Dog-Log</li>
                    <li>Sign Up</li>
                    <li>Login</li>
                </ul>
            </section>
        </footer>

</body>
</html>