<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get a Handle on Canine Epilepsy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c3a68ff822.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <a href="/"><h4>MY CANINE COMPANION</h4></a>
        <ul>
            <a href="/aboutUs"><li>About Us</li></a>
            <% if(typeof user == 'undefined') { %>
                <a href="/login"><li>Login</li></a>
                <a href="/register"><li>Register</li></a>
            <%}else{ %>
                <a href="/log"><li>Epi-Dog-Log</li></a>
                <a href="/petProfile"><li>Pet Profile</li></a>
                <a href="/text"><li>Text Reminders</li></a>
                <a href="/auth/logout"><li>Log Out</li></a>
           <% }%>
        </ul>
    </nav>
        <div class="headerFrame">
             <header class="indexHeader">
                 <section class="headerSectionMainPage">
                     <h1>Get a Handle on Canine Epilepsy</h1>
                     <p>Helping You Never Miss a Dose Again</p>
                 </section>
             </header>
        </div>
        <div class="infoFrame">
            <section class="epilepsyInfo">
                <h2>Sign In</h2>
                    <form class="signInForm" action="/loginLocal" method="POST">
                        <input type="text" placeholder="Email Address *" name="email">
                        <input type="password" placeholder="Password *" name="password">
                        <input type="submit" value="Sign In">
                    </form>
                <p>or use one of your accounts below</p>
                <a href="/auth/google"><div><button class="google"><i class="fa-brands fa-google"></i> Continue with Google</button></div></a>
                <a href="/auth/facebook"><div><button class="facebook"><i class="fa-brands fa-facebook"></i> Continue with Facebook</button></div></a>
                <p>Dont have an account? Register below!</p>
                <a href="/register"><div><button class="register"><i class="fa-solid fa-user-plus"></i></i>Register</button></div></a>    
            </section>
        </div>


        <section class="instructionContainer">
    
            <section class="containerWithInstructionsAndPhoto">
                <section>
                    <h3>We Make the Process Easy</h3>
                    <section class="numbers">
                        <p class="instructionNum">1</p>
                        <p>Create your pet profile. We will collect all of the applicable information.</p>
                    </section>
                    <section class="numbers">
                        <p class="instructionNum">2</p>
                        <p>Use the Epi-Dog-Log to keep track of any seizures or abnormal activity.</p>
                    </section>
                    <section class="numbers">
                        <p class="instructionNum">3</p>
                        <p>Receive text-message reminders to administer your dog's medication.</p>
                    </section>
                </section>

                <section class="imageContainer">
                    <img src="photos/dogFam.png">
                </section>
            </section>

        </section>

        <footer>
            <section>
                <h3>&copy;MY CANINE COMPANION</h3>
                <p>EST. 2022 in Orchard Park, NY</p>
                <p>All rights reserved.</p>
            </section>
            <section>
                <ul>
                    <li>About Us</li>
                    <li>Epi-Dog-Log</li>
                    <li>Sign Up</li>
                    <li>Login</li>
                </ul>
            </section>
        </footer>
<script src="/js/main.js"></script>
</body>
</html>