<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c3a68ff822.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/"><h4>MY CANINE COMPANION</h4></a>
        <ul>
            <li>About Us</li>
            <a href="/log"><li>Epi-Dog-Log</li></a>
            <a href="/petProfile"><li>Pet Profile</li></a>
            <li>Login</li>
            <a href="/auth/logout"><li>Log Out</li></a>
        </ul>
    </nav>




        <footer>
            <section>
                <h3>&copy;MY CANINE COMPANION</h3>
                <p>EST. 2022 in Orchard Park, NY</p>
                <p>All rights reserved.</p>
            </section>
            <section>
                <ul>
                    <li>About Us</li>
                    <li>Epi-Dog-Log</li>
                    <li>Sign Up</li>
                    <li>Login</li>
                </ul>
            </section>
        </footer>
<script src="/js/main.js"></script>
</body>
</html>